@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
} 
  body {
            font-family: 'Outfit', sans-serif;
            background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
            color: #f8fafc;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        * {
            margin: 0;
              color: black;
            padding: 0;
            box-sizing: border-box;
            /* background-color: white; */
        }



          /* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-color: #f8f9fa;
            color: #333;
            line-height: 1.6;
        } */